body {
	background-color: #ffecb3
}

h1 {
	color: #4d4dff;
}

#border {
	position: fixed;
	height: 630px;
	width: 600px;
	top: 20px;
	left: 40px;
	background-color: #00004d;
}

.intro {
	position: absolute;
	height: 620px;
	width: 590px;
	top: 5px;
	left: 5px;
	background-color: #ffdf80;
}

.default {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 270px;
	height: 271px;
}

.default:hover {
	opacity: 0;
	transition: 0.2s;
}

.hover {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 270px;
	height: 271px;
}

.text {
	position: absolute;
	top: 10px;
	left: 5px;
	font-size: 20px;
}

#border2 {
	position: fixed;
	height: 630px;
	width: 600px;
	top: 20px;
	left: 680px;
	background-color: #00004d;
}

.info2 {
	position: absolute;
	height: 620px;
	width: 590px;
	top: 5px;
	left: 5px;
	background-color: #ffdf80;
}

.computer {
	position: absolute;
	top: 5px;
	left: 110px;
	width: 375px;
	height: 177px;
}

.val {
	position: absolute;
	top: 230px;
	left: 175px;
	color: red;
}

.dream {
	position: absolute;
	top: 330px;
	left: 175px;
	color: blue;
}